<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--驼峰命名-->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!--别名-->
	<!--作用：全名com.atguigu.crud.bean.Employee，别名：Eemployee，其他地方在使用的时候写别名就可以了-->
	<typeAliases>
		<package name="com.atguigu.crud.bean"/>
	</typeAliases>

	<!--分页插件-->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>

